.eslintrc.js                                             
.github                              
.husky                                  
.prettierrc 
.eslintcache 
.npmrc
.npmignore
.gitignore                                         
CHANGELOG.md                                                                                            
babel.config.json                                                      
jest.config.js                                           
rollup.config.js                                         
tsconfig.json   

src 
node_modules
futurePackages
coverage                                                  
test